= form_for(@tournament, :url => url, :html => { :method => method, :class=> "form"}) do |f|
  - if @tournament.errors.any?
    .alert.alert-error
      - @tournament.errors.full_messages.each do |msg|
        = msg
        %br
  %div
    = f.label :name
    = f.text_field :name, :class => "span6"
    %br
    = f.label :category_id
    = f.select :category_id, Category.all.map{ |c| [c.name, c.id] }
    %br
    = f.submit submit, :class => "btn"

