%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    - @tours.each_with_index do |tour, index|
      %table.table.table-bordered.table-condensed.table-hover
        %tr
          %th{:colspan => 3, :style => "text-align: center;" }
            = "Tour #{index + 1}"
        %tr
          %th #
          %th Pilot name
          %th Pilot country
        - tour.pilots.each_with_index do |pilot, index|
          %tr
            %td= index + 1
            %td= pilot.name
            %td= pilot.country.name
