%h3{:style => "text-align: center;"}
  = @pilot.name
%h3{:style => "text-align: center;"}
  = "#{@tournament.name}, #{@tindex}-й тур"
= form_for(@wstat, :url => url, :html => { :method => method, :class=> "form"}) do |f|
  .container-fluid
    .row-fluid
      .span6
        %h4 Очки
        = f.hidden_field :pilot_id,      :value => @pilot.id
        = f.hidden_field :tour_id,       :value => @tour.id
        = f.hidden_field :tournament_id, :value => @tournament.id
        %br
        = f.label "Время полета (сек)"
        = f.number_field :seconds
        %br
        = f.label "Отрубы"
        = f.number_field :cuts
        %br
        = f.check_box :uncut
        = f.label     :uncut, "Сохранение ленты", :style => "display:inline"
        %br
        = f.check_box :non_engagement
        = f.label     :non_engagement, "Уклонение от боя", :style => "display:inline"
        %br
        = f.check_box :crossed_line
        = f.label     :crossed_line, "Пересечение линии безопасности", :style => "display:inline"
        %br
        = f.check_box :ground_start
        = f.label     :ground_start, "Взлет с колес", :style => "display:inline"
        %br
        = f.check_box :landed
        = f.label     :landed, "Посадка в зоне посадки", :style => "display:inline"
        %br
        = f.label "Наземные цели"
        = f.number_field :ground_targets
      .span6
        %h4 Стендовая оценка
        %br
        = f.check_box :cable_wires
        = f.label     :cable_wires, "Расчалки", :style => "display:inline"
        %br
        = f.check_box :guns
        = f.label     :guns, "Наличие пулеметов", :style => "display:inline"
        %br
        = f.check_box :pilot_on_board
        = f.label     :pilot_on_board, "Пилот", :style => "display:inline"
        %br
        = f.check_box :wing_structure
        = f.label     :wing_structure, "Структура крыла как у прототипа", :style => "display:inline"
        %br
        = f.check_box :biplane
        = f.label     :biplane, "Биплан", :style => "display:inline"
        %br
        = f.check_box :four_stroke_engine
        = f.label     :four_stroke_engine, "4-х тактный", :style => "display:inline"
      %br
    = f.submit submit, :class => "btn"
    = link_to "Назад", :back, :class => "btn"
