= link_to "Back", :back, :class => "btn"
%br
%h2 Change password for #{@pfm.name}

= form_for(@pfm, :url => update_password_admin_pfm_path(@pfm), :html => { :method => :put }) do |f|
  - if @pfm.errors.any?
    .alert.alert-error
      - @pfm.errors.full_messages.each do |msg|
        = msg
        %br
  = f.label :current_password
  = f.password_field :current_password
  %br
  = f.label :password, "New password"
  = f.password_field :password, :autofocus => true
  %br
  = f.label :password_confirmation, "Confirm new password"
  = f.password_field :password_confirmation
  %br
  = f.submit "Update", :class => "btn"
