= link_to "New", new_admin_pilot_path, :class => "btn"
%br
%h2 Pilots

%table.table.table-bordered.table-condensed.table-hover
  %tr
    %th Name
    %th Country
    %th Participates
    %th{:width => "240px"} Actions

  - @pilots.each do |pilot|
    %tr
      %td= link_to pilot.name, admin_pilot_path(pilot)
      %td= pilot.country.name
      %td= "#{pilot.tournaments.map(&:name).join(', ')}"
      %td
        =link_to "Edit", edit_admin_pilot_path(pilot), :class => "btn btn-small"
        =link_to "Delete", admin_pilot_path(pilot),  :class => "btn btn-small btn-danger", :method => "delete", :data => { :confirm => "Are you sure?"}
